@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Richard Baldauf<br />
    9025 Győr, Vámbéry Ármin utca 51<br />
    <abbr title="Phone">Phone:</abbr>
    +36 30 423 1140
</address>

<address>
    <strong>Support:</strong> <a href="mailto:baldauf.richard22@gmail.com">baldauf.richard22@gmail.com</a><br />
</address>
